{% extends "layout/basic.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h2> Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>Здравствуйте, {{ user.first_name }} {{user.last_name }}!</p>
{% else %}
<p>Здравствуйте!</p>
{% endif %}
<h3>Ваши объявления:</h3>
{% if boards %}
<ul class="list-unstyled">
    {% for board in boards %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' rubric_pk=rubric.pk pk=board.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if board.image %}
            <img src="{% thumbnail board.image 'default' %}" alt="image" class="mr-3">
            {% else %}
            <img src="{% static 'main/empty.jpg' %}" alt="image" class="mr-3">
            {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }}{{ all }}">
                {{ board.title }}
            </a></h3>
            <div>{{ board.content }}</div>
            <p class="text-right font-weight-bold">{{ board.price }} грн.</p>
            <p class="text-right font-italic">{{ board.created_at }}</p>
            <p class="text-right mt-2">
                <a href="{% url 'main:profile_board_change' pk=board.pk %}">Исправить</a>
                <a href="{% url 'main:profile_board_delete' pk=board.pk %}">Удалить</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}